<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<form action="/login" method="POST">
  <label>
    <input type="text" name="username" placeholder="username"/><br/>
    <input type="password" name="password" placeholder="password"/><br/>
    <button>login</button> <br/>
      <a href="/oauth2/authorization/google">구글 로그인</a> <!-- href 잘 확인 해야함. 마음대로 바꿀 수 있는 주소 아님 -->
      <a href="/joinForm">create user account</a>
  </label>
</form>
</body>
</html>